body {
  padding: 0;
  margin: 60px;
  text-align: left;
  font-size: 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: left; */
  justify-content: center;
  flex-direction: column;
  transition: 200ms ease-in;
  background:wheat;
}

h1{
  left:50px;
  font-family: verdana;
  max-width: 250px;
  text-transform: uppercase;
  color: ghostwhite;
  transition: 500ms ease-in;
}

h2{
    font-size: 60px;
    line-height: 100px;
   text-align: center;
    color:saddlebrown;
}

.door{
  position: absolute;
  right:5px;
  top:-10px;
  z-index: -1;
}

.curtain{
  position: absolute;
  left:640px;
  top:-10px;
  z-index: -1;
}
.open-sign {
  position: absolute;
  top: 280px;
  right:120px;

  animation: infinite cubic-bezier(0.535, -0.030, 0.445, 1.035) signSwing alternate 3s;
  animation-fill-mode: both;
}

@keyframes signSwing {
  0% {
    transform:  rotate3d(1, 0, 1, -3deg);
  }
  100% {
    transform: rotate3d(1, 0, 1, 3deg);
  }
}

button.alt1 {
    transition: 200ms ease-in;
  }
  button.alt1:hover {
    color: ghostwhite;
  }
  button.alt1:hover:before {
    width: 100%;
  }
  button.alt1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: sandybrown;
    z-index: -1;
    transition: 200ms ease-in;
  }
  
  
  
  
  button {
    margin: 5px;
    position: absolute;
    overflow: hidden;
    background: none;
    border: 2px solid sandybrown;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    color: sandybrown;

  }

  button a {
    text-decoration: none;
    color: sandybrown;
  }
  button a:hover, button a:active, button a:focus {
    text-decoration: none;
    color: ghostwhite;
  }
  button:focus {
    outline: 0;
  }
  button:hover {
    cursor: pointer;
  }


  .open-sign {
    position: absolute;
    margin-top: 10px;
    margin-left:600px;

    animation: infinite cubic-bezier(0.535, -0.030, 0.445, 1.035) signSwing alternate 3s;
    animation-fill-mode: both;
  }
  
  @keyframes signSwing {
    0% {
      transform:  rotate3d(1, 0, 1, -3deg);
    }
    100% {
      transform: rotate3d(1, 0, 1, 3deg);
    }
  }


